
@{
    ViewBag.Title = "Habitica Login";
    Layout = "~/Views/Shared/_NotAuthorized.cshtml";
}

@model HabiticaTravel.Models.RegisterViewModel

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("HabiticaLoginHandler", "HabiticaAccount", FormMethod.Post, new { @class = "form-horizontal", id = "HabiticaLogin", role = "form", }))
{
    @Html.AntiForgeryToken()
    <h4>Login with Habitica.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "UserEmail", data_val = "true" })

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label", name = "UserPassword" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control textFix", style = "color:black;font-family: Arial, cursive;" })   
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Login" />
        </div>
    </div>
}

