@{
    ViewBag.Title = "Home Page";
    //Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}

@Styles.Render("~/Content/Habitica")
@Html.Partial("_ProfileLayout")


@*<div class="modal fade delete-task-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content text-center">
            <h3>Are you sure you want to delete this item?</h3>
            <p>Deleting this item is permanent, there is no going back, click Remove to delete item, or click out of this box to cancel.</p><br />
            <a name="taskId" class="index-button remove">Remove</a>
        </div>
    </div>
</div>*@

<button class="btn-success" id="reminderHandler">CheckReminders</button>
<div class="container-fluid text-center">
    @if (ViewBag.Tasks.Count == 0)
    {
        <h1>Currently no tasks</h1>
    }
    else
    {
        <div class="container-fluid">
            <div class="row tasks">
                @for(var i = 0; i < ViewBag.Tasks.Count; i++ )
                {
                <h5 class="task-reminder">@Html.Raw(Json.Encode(ViewBag.Tasks[i].ReminderTime))</h5>
                <div class="col-xs-4">
                    <div class="task-item">
                        <h3>@ViewBag.Tasks[i].TaskName</h3>
                        <h5>@ViewBag.Tasks[i].TaskType</h5>
                        <p>@ViewBag.Tasks[i].TaskNotes</p><br />
                    </div>
                    <div class="task-links">
                        <a href="/Tasks/ViewTask?TaskId=@ViewBag.Tasks[i].TaskId">Details</a>
                        <a href="/Tasks/RemoveTask?taskId=@ViewBag.Tasks[i].TaskId">Remove Task</a>
                        <a href="/Tasks/EditCustomTask?taskId=@ViewBag.Tasks[i].TaskId">Edit Task</a>
                    </div>
                </div>
                }
            </div>
        </div>

    }
</div>



@section Scripts
{
    <script src="~/Scripts/HabiticaJavaScript/DeleteTasksModal.js"></script>
    <script>
        $(function () {
            var msToTime = function(duration) {
                var milliseconds = parseInt((duration % 1000) / 100)
                    , seconds = parseInt((duration / 1000) % 60)
                    , minutes = parseInt((duration / (1000 * 60)) % 60)
                    , hours = parseInt((duration / (1000 * 60 * 60)) % 24);

                hours = (hours < 10) ? "0" + hours : hours;
                minutes = (minutes < 10) ? "0" + minutes : minutes;
                seconds = (seconds < 10) ? "0" + seconds : seconds;

                return `${hours}:${minutes}:${seconds}.${milliseconds}`;
            };

            $(".task-reminder").text((i, obj) => {
                var date = new Date(parseInt(obj.replace(/[^0-9 +]/g, ''))) - new Date();
                if (date > 172800000) {
                    $(".task-reminder").filter(function(i){return $(this).text() == obj}).remove();
                }
                else if (date <= 172800000 && date > 0) {
                    $(".task-reminder").filter(function (i){return $(this).text() == obj}).text(`Time left for task: ${msToTime(date)}`)
                }
                else if (date < 0) {
                    $(".task-reminder").filter(function (i){return $(this).text() == obj}).text('task time is up, sorry buddy, hell yeah....');
                }
            });
        });
    </script>
}

