@model HabiticaTravel.Models.DefaultTask

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Multiple Item Product Carousel</title>
    <link href="~/Content/CustomCss/DefaultTasksStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $(".wish-icon i").click(function () {
                $(this).toggleClass("fa-heart fa-heart-o");
            });
        });
    </script>
</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Featured <b>Products</b></h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        @*duplicate the following for multiple carousel pages*@
                        @for (int i = 0; i < ViewBag.MyTasks.Count; i += 4)
                        {
                            <div class="item carousel-item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="thumb-content">
                                                <h4>@ViewBag.MyTasks[i].TaskName</h4>
                                                <form class="task-details" action="/Tasks/CloneTask?TaskId=@ViewBag.MyTasks[i].TaskId">
                                                    @foreach (var j in ViewBag.MyTaskItems)
                                                    {
                                                        if (j.TaskId == ViewBag.MyTasks[i].TaskId)
                                                        {
                                                            <input type="checkbox" /><bold>@j.ItemName</bold><br />
                                                        }
                                                    }
                                                    <input type="hidden" value="@ViewBag.MyTasks[i].TaskId" name="TaskId" />
                                                    <input class="btn btn-primary" type="submit" value="Copy to Your Tasks" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>

                                            <div class="thumb-content">
                                                <h4>@ViewBag.MyTasks[i + 1].TaskName</h4>
                                                <form class="task-details" action="/Tasks/CloneTask?TaskId=@ViewBag.MyTasks[i+1].TaskId">
                                                    @foreach (var j in ViewBag.MyTaskItems)
                                                    {
                                                        if (j.TaskId == ViewBag.MyTasks[i + 1].TaskId)
                                                        {
                                                            <input type="checkbox" /><bold>@j.ItemName</bold><br />
                                                        }
                                                    }
                                                    <input type="hidden" value="@ViewBag.MyTasks[i + 1].TaskId" name="TaskId" />
                                                    <input class="btn btn-primary" type="submit" value="Copy to Your Tasks" />
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="thumb-content">
                                                <h4>@ViewBag.MyTasks[i + 2].TaskName</h4>
                                                <form class="task-details" action="/Tasks/CloneTask?TaskId=@ViewBag.MyTasks[i+2].TaskId">
                                                    @foreach (var j in ViewBag.MyTaskItems)
                                                    {
                                                        if (j.TaskId == ViewBag.MyTasks[i + 2].TaskId)
                                                        {
                                                            <input type="checkbox" /><bold>@j.ItemName</bold><br />
                                                        }
                                                    }
                                                    <input type="hidden" value="@ViewBag.MyTasks[i + 2].TaskId" name="TaskId" />
                                                    <input class="btn btn-primary" type="submit" value="Copy to Your Tasks" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="thumb-content">
                                                <h4>@ViewBag.MyTasks[i + 3].TaskName</h4>
                                                <form class="task-details" action="/Tasks/CloneTask?TaskId=@ViewBag.MyTasks[i+3].TaskId">
                                                    @foreach (var j in ViewBag.MyTaskItems)
                                                    {
                                                        if (j.TaskId == ViewBag.MyTasks[i + 3].TaskId)
                                                        {
                                                            <input type="checkbox" /><bold>@j.ItemName</bold><br />
                                                        }
                                                    }
                                                    <input type="hidden" value="@ViewBag.MyTasks[i + 3].TaskId" name="TaskId" />
                                                    <input class="btn btn-primary" type="submit" value="Copy to Your Tasks" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


