@model HabiticaTravel.Models.TaskAndItems
@{
    ViewBag.Title = "ViewTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <ul>
        <li><h2>@ViewBag.task.TaskName</h2></li>
        <li><p>Task Notes: @ViewBag.task.TaskNotes</p></li>
        <li>Task Due Date: @ViewBag.task.TaskDueDate</li>
        <li>Reminder Date: @ViewBag.task.ReminderStartDate</li>
        <li>Reminder Time: @ViewBag.task.ReminderTime</li>
    </ul>
    <ul>
        <li><h2>Checklist Items</h2></li>
        @foreach(var item in Model.CustomTaskItem)
        {
            <li>@item.ItemName</li>
        }
    </ul>
</div>

<div class="container-fluid">
    <div class="row">
        @foreach (var y in ViewBag.yelp)
        {
        <div class="col-xs-3">
            <h2>@y["title"]</h2>
            <div class="yelp">
                <h3>@y["name"]</h3>
                <img src="@y["image_url"]" height="100" width="100"/>
                <h5>@y["rating"]</h5>
            </div>
        </div>
        }
    </div>
</div>

