
@{
    ViewBag.Title = "ViewTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@ViewBag.task.TaskName</h2>
    <ul>
        <li>@ViewBag.task.TaskType</li>
        <li>@ViewBag.task.TaskTag</li>
        <li><p>@ViewBag.task.TaskNotes</p></li>
        <li>@ViewBag.task.TaskDueDate</li>
        <li>@ViewBag.task.ReminderStartDate</li>
        <li>@ViewBag.task.ReminderTime</li>
        <li>@ViewBag.task.TaskFrequency</li>
        <li>@ViewBag.task.TaskRepeat</li>
        <li>@ViewBag.task.TaskStreak</li>
        <li>@ViewBag.task.TaskStartDate</li>
        <li>@ViewBag.task.TaskHabitUp</li>
        <li>@ViewBag.task.TaskHabitDown</li>
        <li>@ViewBag.task.TaskRewardValue</li>
        <li>@ViewBag.task.EveryXDays</li>
    </ul>
</div>

