
@model HabiticaTravel.Models.TravelGroupandUser
@{ 
    ViewBag.Title = "User Email";
}
<br /><br />
<table class="table">

    <tr>
        <th>ViewBag.Title</th>
    </tr>
</table>


@using (Html.BeginForm("SearchUserByEmail", "Group", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Look up user by email...</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(tg => tg.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(tg => tg.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Search..." />
        </div>
    </div>
}

@if (ViewBag.ShowEmail != null)
{


    @using (Html.BeginForm("SearchUserByEmail", "Group", FormMethod.Post, new { htmlAttributes = new { @class = "form-horizontal", role = "form" } }))
    {
        @Html.AntiForgeryToken()
        <h4>Fill out this form.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(tg => tg)


        <div class="form-group">
            <label>@Model.Email</label>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Add User" />
            </div>
        </div>
    }

}
else
{
    <h1>@ViewBag.UserNullMessage</h1>
}


